<?xml version="1.0"?>
<robot name="exoskeleton_leg">
    <material name="yellow">
        <color rgba="1.0 1.0 0.0 1.0"/>
    </material>
    <material name="orange">
        <color rgba="1.0 0.4 0.0 1.0"/>
    </material>

    <link name="base_link"></link>
    <link name="hip_link">
        <visual name="hip">
            <origin xyz="0.0 0.0 -0.01" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.1 0.02"/>
            </geometry>
            <material name="orange">
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.01" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.1 0.02"/>
            </geometry>
        </collision>
    </link>
    <link name="thigh_link">
        <visual name="thigh">
            <origin xyz="0.0 0.0 -0.15" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.02" length="0.3"/>
            </geometry>
            <material name="yellow">
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.15" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.02 0.02 0.3"/>
            </geometry>
        </collision>
    </link>
    <link name="calf_link">
        <visual name="calf">
            <origin xyz="0.0 0.0 -0.15" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.02" length="0.3"/>
            </geometry>
            <material name="yellow">
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.15" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.02 0.02 0.3"/>
            </geometry>
        </collision>
    </link>
    <link name="foot_link">
        <visual name="foot">
            <origin xyz="0.0 0.0 -0.005" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.15 0.1 0.01"/>
            </geometry>
            <material name="orange">
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.005" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.15 0.1 0.01"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="hip_link"/>
    </joint>
    <joint name="hip_thigh_joint" type="revolute">
        <origin xyz="0.0 0.0 -0.02" rpy="0.0 0.0 0.0"/>
        <parent link="hip_link"/>
        <child link="thigh_link"/>
        <axis xyz="0.0 1.0 0.0"/>
        <limit lower="0.0" upper="1.57" effort="100.0" velocity="100.0"/>
    </joint>
    <joint name="thigh_calf_joint" type="revolute">
        <origin xyz="0.0 0.0 -0.3" rpy="0.0 0.0 0.0"/>
        <parent link="thigh_link"/>
        <child link="calf_link"/>
        <axis xyz="0.0 1.0 0.0"/>
        <limit lower="-1.57" upper="0.0" effort="100.0" velocity="100.0"/>
    </joint>
    <joint name="calf_foot_joint" type="fixed">
        <origin xyz="-0.05 0.0 -0.3" rpy="0.0 0.0 0.0"/>
        <parent link="calf_link"/>
        <child link="foot_link"/>
    </joint>
</robot>